body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
}
h1{
    font-size: x-large;
}
h2{
    font-size: large;
    color: black;
}
h3{
    font-size: small;
    color: black;
}
p{
    color: grey;
    font-size: small;
}
p a{
    color: grey;
}
.flexAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.decoration {
    text-decoration: none;
}
.colorBlue{
    color: #0065FC;
}
.colorBlueLight{
    color: #deebff;
}
.colorGrey{
    color: #f2f2f2;
}
.backBlue{
    background-color: #0065FC;
}
.backBlueLight{
    background-color: #deebff;
}
.backGrey{
    background-color: #F2F2F2;
}
.borderNone{
    border: none;
}
.iconColor{
    color: #0065FC;
    margin-right: 10px;
}
/*HEADER*/
header{
    height: auto;
    min-width: 992px;
}
.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav{
    justify-content: flex-end;
    padding: 10px;
}
header ul{
    list-style: none;
}
header li{
    margin-right: 50px;
}
header a{
    color: black;
}
header a:hover{
    border-top: 1px solid #0065FC;
    color: #0065FC;
    padding-top: 10px;
}
#logo img{
    width: 62px;
    height: 29px;
    margin: auto;
    padding: 10px;
}
/*MAIN*/

/*Recherche*/
#borderSearch{
    width: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputSearch{
    width: 230px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
    color: black;
    padding-left: 20px;
    border: none;
    border: 0.5px solid #F2F2F2;
}
#iconSize{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonSearch{
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color:white;
    font-weight: bold;
    background-color: #0065FC;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconSearch{
    visibility: hidden;
    width: 0;
}
.textSearch{
    visibility: visible;
    width: 120px;
}
/*Filtre*/
#filter {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
}
.filterTitle{
    margin-right: 20px;
    font-weight: bold;
}
#AllChoice{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterChoice {
    border: 3px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterChoice:hover {
    background-color: #deebff;
}
.filterChoice:hover > .filterIcons{
    background-color: #deebff;
}
.filterText{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterIcons {
    margin-left: 1px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filterInfo{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.info{
    border-radius: 25px;
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Encadrement Hébergements et les plus populaires*/
.desktop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*Hébergements*/
#Hébergements{
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: none;
    padding: 1%;
    max-width: 63.5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.paddingh{
    padding-left: 1.1%;
}
#HébergementsMarseille{
    border-radius: 10px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: stretch;
}
img{
    width: 99.5%;
    height: 55%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contain{
    object-fit: cover;
}
.cardLodging{
    width: 30%;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border-color: 2px solid white;
    padding: 0.5%;
    margin: 1.1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.fa-grey{
    color: #F2F2F2;
}
/*Les plus populaires*/
#Lespluspopulaires{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 1.6%;
    width: 29.4%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
}
.cardsPopular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardPopular{
    width: 96%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border-color: 2px solid white;
    padding: 0.5%;
    margin: 1.1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Lespluspopulaires img{
    width: 100%;
    height: 146px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
}
#Lespluspopulaires .contain{
    object-fit: cover;
    width: 146px;
}
.caption {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding-left: 10px;
    height: 150px;
}
/*Activités*/
#Activités{
    background-color: white;
    margin: 3% 0;
    padding: none;
}
#ActivitésMarseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: stretch;
    border-radius: 10px;
    border-color: 2px solid white;
}
.cardActivity{
    width: 20%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border-color: 2px solid white;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#Activités img{
    width: 100%;
    height: 85%;
}
#Activités h3{
    padding: 0 20px 0 20px;
    margin-top: 20px;
}
/*Footer*/
.footer{
    background-color: #F2F2F2;
}
.mainfooter{
    max-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3%;
}